<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <title>Zeal</title>
</head>
<body class="overflow-x-hidden">
        <div class="container mx-auto p-4">
          <div class="overflow-hidden flex justify-between items-center">
            <div>
              <h2 class="text-3xl font-bold">Zeal Tickets</h2>
            </div>
            <button class="border-2 border-basket bg-white rounded-lg h-10 w-32 flex items-center justify-center space-x-2 hover:bg-gray-100 transition duration-300">
              <img src="{% static 'Images/shopping-basket.png' %}" alt="Basket" class="h-6 w-6' %}">
              <span>My Events</span>
            </button>
          </div>
          <header class="bg-white bold text-2xl font-roboto flex space-x-10 items-center justify-center border-b-4 border-gray-300">
            <!-- The home, Events about contact header tags -->
             <ul><a href="{% url 'index' %}">Home</a></ul>
              <ul><a href="{% url 'events' %}">Events</a></ul>
              <ul><a href="{% url 'about' %}">About</a></ul>
              <ul><a href="{% url 'contact' %}">Contact</a></ul>
          </header>
        </div>
    
        <!-- Body -->
        <div class="flex flex-col md:flex-row bg-primary bg-cover w-screen">
          <div class="w-full md:w-1/2 p-4 md:p-14">
            <!-- Swiper -->
            <div class="swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img src="{% static 'Images/audience-1853662_1280.jpg' %}" alt="Audience">
                </div>
                <!-- <div class="swiper-slide">
                  <img src="public/Images/party-8080105_1280.jpg" alt="Another Image">
                </div>
                <div class="swiper-slide">
                  <img src="public/Images/ticket-2974645_640.jpg" alt="Yet Another Image">
                </div> -->
              </div>
              <!-- Add Pagination -->
              <div class="swiper-pagination"></div>
              <!-- Add Navigation -->
              <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div>
            </div>
          </div>
          <div class="w-full md:w-1/2 flex font-roboto items-center justify-center mt-10 md:mt-0">
            <div class="flex flex-col space-y-5 p-4 md:p-0">
              <h1 class="text-3xl md:text-4xl font-roboto font-bold">Welcome to Zeal</h1>
              <p class="text-base md:text-lg">The best place to find events</p>
              <p>Your gateway to unforgettable experiences. Discover a world of events, from concerts <br> and festivals to sports and theatre. Find your perfect ticket and let the adventure begin.</p>
              <button class="bg-blue-500 w-32 justify-center items-center text-white px-2 py-2 rounded-lg">
                <a href="{% url 'register' %}">Get Started</a>
            </button>
            </div>
          </div>
        </div>


        <div class="container mx-auto p-4">
          <h1 class="text-3xl font-bold mb-4">Events</h1>
          <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
              {% for event in events %}
                  <div class="bg-white p-4 rounded-lg shadow-md">
                      <h2 class="text-xl font-bold mb-2">{{ event.name }}</h2>
                      <img src="{{ event.image.url }}" alt="{{ event.name }}" class="w-full h-48 object-cover mb-4 rounded-lg">
                      <p class="font-bold text-gray-600">Category: {{ event.category.name }}</p>
                      <p class="font-bold text-gray-600">Date: {{ event.date }}</p>
                      <p class="font-bold text-gray-600">Location: {{ event.location }}</p>
  
                      <a href="{% url 'login' %}?next={% url 'ticket-booking' event.id %}" class="inline-block mt-4 px-6 py-2 bg-gradient-to-r from-blue-500 to-blue-700 text-black font-semibold rounded-lg shadow-lg hover:from-blue-600 hover:to-blue-800 transition duration-300 transform hover:scale-105">
                        Get Ticket
                    </a>
                  </div>
              {% endfor %}
          </div>

    <hr class="my-2 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8 w-screen" />
    <footer class="rounded-lg w-screen bg-primary m-4">
      <div class="w-screen max-w-screen-xl mx-auto p-4 md:py-4">
          <div class="sm:flex sm:items-center sm:justify-between w-full">
            <div>
              <h2 class="text-3xl font-bold">Zeal Tickets</h2>
            </div>
              <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-black sm:mb-0 dark:text-black">
                  <li>
                      <a href="index.html" class="hover:underline me-4 md:me-6">Home</a>
                  </li>
                  <li>
                      <a href="events.html" class="hover:underline me-4 md:me-6">Events</a>
                  </li>
                  <li>
                      <a href="about.html" class="hover:underline me-4 md:me-6">About</a>
                  </li>
                  <li>
                      <a href="contact.html" class="hover:underline">Contact</a>
                  </li>
              </ul>
          </div>
          <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href="https://flowbite.com/" class="hover:underline">ZealTickets</a>. All Rights Reserved.</span>
      </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/@themesberg/flowbite@1.4.7/dist/flowbite.bundle.min.js"></script>

  </body>
</html>